* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

nav {
    background-color: #0C0E13;
}

ul {
    padding: 1%;
    display: flex;
    align-items: center;
    list-style-type: none; 
}

footer {
    height: 4vh;
    padding: 1%;
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: #07080b;
}

footer a {
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    color: white;
}

li {
    margin-left: 5%;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    color: white;
}

.a{
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    color: white;
}

li img {
    width: 70px;
}

main {
    background-image: url("assets/img/backgroundMain.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

main h2 {
    padding: 1% 15%;
}

main button {
    margin-top: 1%;
    padding: 1%;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #1F222C;
}

.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;
}

.text {
    width: 50%;
}

.first-section img {
    width: 100%;
}

.img{
    width: 30%;
}

.titleSection {
    margin-bottom: 5%;
}

.second-section {
    background-color: #0C0E13;
    display: flex;
}

.feature-selection {
    width: 40%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    color: white;
}

.feature-selection h2 {
    padding-bottom: 5%;
}

.feature-button {
    font-size: large;
    padding: 2%;
    margin-bottom: 2%;
    background-color: #1F222C;
    color: white;
    border: none;
}

.divider {
    margin: 5% 0;
    border-left: 3px solid white;
}

.feature {
    width: 40%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.text-feature{
    margin: 30% 0;
}

.text-feature h3 {
    text-align: center;
}

img {
    object-fit: cover;
    width: 80%;
    margin-bottom: 10%;
}

.feature h3{
    padding-bottom: 5%;
}

#feature-text {
    font-size: 20px;
}

#feature-title {
    font-size: 30px;
}
.contact-section{
    width: 100%; 
    height: 150px;
    background-color: #0C0E13;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: start;
}
@media screen and (max-width: 930px) {
    .first-section{
        flex-direction: column;
        justify-content: center;
    }
    .text{
        width: 80%;
    }
    .second-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feature-selection, .feature, .divider{
        width: 80%;
    }
    .divider{
        margin-top: 0;
        border-top: 3px solid white;
        border-left: none;
    }
    .text-feature{
        margin: 15% 0;
    }
}